<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" />
<title th:text="${titulo}"></title>
</head>
<body>


	<nav class="navbar navbar-expand-md navbar-dark bg-dark">
		<a class="navbar-brand" href="#">Spring Boot</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
				<li class="nav-item"><a class="nav-link" href="#about"
					th:href="@{/listar}">Cliente</a></li>
			</ul>
		</div>
	</nav>




	<div class="container">
	<h1 th:text="${titulo}" class="text-secondary border border-success border-top-0 border-left-0 border-right-0"></h1>

	<form th:action="@{/form}" th:object="${cliente}" method="POST">
		<table>

			<tr>
				<td>Nombre</td>
				<td><input type="text" th:field="*{nombre}" class="form-control" /></td>
			</tr>
			<tr>
				<td>Apellido</td>
				<td><input type="text" th:field="*{apellido}" class="form-control" /></td>
			</tr>
			<tr>
				<td>Email</td>
				<td><input type="email" th:field="*{email}" class="form-control" /></td>
			</tr>
			<tr>
				<td><input type="submit" value="Crear Cliente" class="btn btn-primary"  /></td>
			</tr>
		</table>
		<input type="hidden" th:field="*{id}" />
	</form>
	</div>

</body>
</html>